table {
  padding-top: 10px;
  border-collapse: separate;
}

td {
  width: 150px;
  padding-bottom: 10px;
}

h2 {
  color: #4287f5;
}

a {
  color: #000;
  font-size: 18px;
}

.search-input {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}